@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Nunito', sans-serif;
    color: #3f3f41;
    filter: brightness(1.08);
    /* font-weight: 900; */
}
.feedLoading{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feedBody{
    /* background-image: url('./Bg.png'); */
    background-image: url('../Images/Bg.png');
    background-size: cover;
}
.bodyArea{
    background: rgba(216, 220, 255, 0.377);
    /* background: rgba(210, 224, 255, 0.2); */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}
.naviBar{
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6d6e9e3;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.048);
    border-bottom: 1px solid rgba(168, 164, 164, 0.637);
    -webkit-backdrop-filter: blur(6px); 
    backdrop-filter: blur(6px);
    background: linear-gradient(to bottom, #cdbde6ef 5%, #d1c2f7ef 100%);
    box-shadow: 0px 10px 14px -7px #ddc3f5;
    background-color: #d6befa;
    /* box-shadow: 0 3px 9px rgba(65, 64, 64, 0.2),
    0 8px 15px rgba(0,0,0,.2); */
}
.feed{
    /* background-color: aquamarine; */
    display: flex;
}

.feedLeftCompo{
    width: 35%;
    height: 630px;
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    left:0;
    top: 85px;
    z-index: 10;
}

.leftFeedPic{
    height: 270px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 47% 53% 36% 64% / 55% 79% 21% 45% ;
    
}
.leftFeedimg{
    width: 100%;
    height: 100%;
    border-radius: 47% 53% 36% 64% / 55% 79% 21% 45% ;
    object-fit: cover;
    box-shadow: 0 3px 9px rgba(65, 64, 64, 0.2),
    0 8px 15px rgba(0,0,0,.2);
}
.leftFeedimg:hover{
    animation: profileAnimate 8s infinite ease ;
}

.leftFeedUserName{
    height: 100px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
}
.logoutBox{
    position: absolute;
    bottom: 0px;
    /* left: 10px; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(180, 179, 179, 0.199);
    /* color: rgb(165, 56, 255); */
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    box-shadow: 0 3px 9px rgba(65, 64, 64, 0.2),
    0 8px 15px rgba(0,0,0,.2);
    position: absolute;
    bottom: 25px;
}
.logoutBox:hover .tooltiptext {
    visibility: visible;
}
.backArrow{
    position: absolute;
    left: 10px;
    cursor: pointer;
}
.backArrow:hover{
    transform: scale(1.01);
}
.feedsArea{
    width: 100%;
    /* height: 87%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px; */
    position: relative;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.123) inset;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.123); */
}

.uploadBtns{
    height: 50px;
    width: 180px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    position: relative;
    background: linear-gradient(to bottom, #a06ded 5%, #845ce0 100%) ;
    box-shadow: 0 3px 9px rgba(65, 64, 64, 0.2),
    0 8px 15px rgba(0,0,0,.2);
}
.backBtn{
    height: 20px;
    width: 100%;
    margin-top: 10px;
    /* color: ; */
}
.backBtn:hover{
    transform: scale(1.01);
    
}


@keyframes profileAnimate {
    0%{
        border-radius: 47% 53% 36% 64% / 55% 79% 21% 45% ;
    }
    25%{
        border-radius: 60% 40% 76% 24% / 51% 55% 45% 49%  ;
    }
    50%{
        border-radius:39% 61% 46% 54% / 62% 72% 28% 38% ;
    }
    75%{
        border-radius: 60% 40% 76% 24% / 51% 55% 45% 49%  ;
    }
    100%{
        border-radius: 47% 53% 36% 64% / 55% 79% 21% 45% ;
    }
}