
.postContainer{
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post{
    /* height: 800px; */
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 20px;
    background: rgba(222, 215, 240, 0.486);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 2px solid rgba(216, 218, 219, 0.877);
}
.postHeader{
    height: 60px;
    width: 100%;
    display: flex;
    /* background-color: rgb(202, 204, 203); */
}
.postMedia{
    /* height: 80%; */
    max-height: 700px;
    width: 95%;
    border-radius: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(104, 107, 106, 0.384); */
}
.postDetails{
    height: 60px;
    width: 100%;
    display: flex;
    /* background-color: rgb(199, 204, 202); */
}

.uname{
    height: 100%;
    margin: 0 10px;
    /* font-weight: bolder; */
    font-size: 1.3rem;
    border-radius: 16px;

}

/* ***************************DAILOG BOX********************************* */
.dialogContainer{
    /* min-height: 50vh; */
    height: 85vh;
    /* width: 47vw; */
    display: flex;
}
.media-part{
    min-height: 50vh;
    max-height: 85vh;
    min-width: 23vw;
    display: flex;
    justify-content: center;
}
.dialogVideo{
    max-height: 100%;
    max-width: 100%;
}
.info-part{
    height: 85vh;
    width: 23vw;
}
.extra{
    background-color: antiquewhite;
    height: 50px;
}
.likes{
    height: 100%;
    background-color: aqua;
}