.postContainer{
    /* height: 100%; */
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post{
    /* height: 800px; */
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border: 1px solid rgb(165, 163, 163);
    background-color: rgba(181, 185, 184, 0.384);
    /* background-color: rgb(235, 241, 239); */
}
.postHeader{
    height: 60px;
    width: 100%;
    display: flex;
    background-color: rgb(202, 204, 203);
}
.postMedia{
    /* height: 80%; */
    max-height: 700px;
    width: 95%;
    border-radius: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(104, 107, 106, 0.384);
}
.postDetails{
    height: 60px;
    width: 100%;
    display: flex;
    background-color: rgb(199, 204, 202);
}

.uname{
    margin: 0;
}

/* ***************************DAILOG BOX********************************* */
.dialogContainer{
    /* min-height: 50vh; */
    height: 85vh;
    /* width: 47vw; */
    display: flex;
}
.media-part{
    min-height: 50vh;
    max-height: 85vh;
    min-width: 23vw;
    display: flex;
    justify-content: center;
}
.dialogVideo{
    max-height: 100%;
    max-width: 100%;
}
.info-part{
    height: 85vh;
    width: 23vw;
}
.extra{
    background-color: antiquewhite;
    height: 50px;
}
.likes{
    height: 100%;
    background-color: aqua;
}