@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    /* color: #3f3f41; */
    color: rgb(99, 100, 100);
    filter: brightness(1.08);
}
.body{
    background-image: url('../Images/Bg.png');
    background-size: cover;
    
}
.glass{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.2); */
    background: rgba(216, 220, 255, 0.377);
    /* background: rgba(210, 224, 255, 0.2); */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.main_card{
    height: 580px;
    width: 780px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.123);
    border-radius: 16px;
}

.card_1{
    height: 90%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logImage{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card_2{
    height: 90%;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 0 30px;
}
.card_4{
    height: 90%;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 0 30px;
}
.card_3{
    height: 5%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
    color: rgb(99, 100, 100);
}
.routing{
    height: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
}
.routing:hover{
    transform: scale(1.05);
}
.reelify_logo{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;

}
.signupLogo{
    height: 60px;
    width: 60px;
    padding: 8px;
    transform: rotate(15deg);
}
img{
    max-height: 100%;
    max-width: 100%;
}
.subHeaderLogin{
    height: 8%;
    width: 85%;
    margin: 0;
    font-size: 1.2rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.user_data{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}
.inputfield{
    width: 85%;
    border-color: rgb(94, 95, 95);
}
.buttons{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.loginError{
    font-size: 18px;
    color:rgb(252, 81, 81);
    margin: 0;
}